@import url('https://fonts.googleapis.com/css2?family=Titillium:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500');

/* ------------------------------------------------Misc */

# {
    margin: 0;
}

body {
    font-family: "Titillium", sans-serif;
}

.row {
    margin: 0;
}

/* ------------------------------------------------Backgrounds */

.bg-color-nav {
    background-color: #0b7901;
}

/* ------------------------------------------------Logo */

.logo-text {
    height: 120px;
    padding: 41px 0 0 40px;
}

.logo-text a {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .5px;
    border: 3px solid white;
}

/* ------------------------------------------------Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 11px;
    border-style: solid;
    border-color: #133510;
}

/* ------------------------------------------------Nav */

#nav {
    margin: 0;
    padding-right: 40px;
    position: relative;
    float: right;
    height: 120px;
}

#nav li {
    padding: 0;
    font-size: 15px;
}

.navitem {
    padding: 0;
    width: 140px;
    height: 120px;
}

.navitem a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.navitem a i {
    display: block;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    height: 50%;
}

.navitem span {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    height: 50%;
}

.navitem:hover {
    background-color: #fff;
}

.navitem a:hover {
    color: #0b7901;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: -40px;
}

.navbar-toggler {
    border: 0;
}
.navbar a {
    font-size: 20px;
    border: 0;
    float: right;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.row {
    margin: 0;
}

.container-test {
    height: 100vh;
    background: url("../images/hero-image.jpg") no-repeat center center fixed;
    background-color: black;
    background-size: cover;
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: relative; */
}