@import url('https://fonts.googleapis.com/css2?family=Titillium:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500,600,700');

/* ------------------------------------------------Misc */

# {
    margin: 0;
}

body {
    font-family: "Titillium", sans-serif;
}

.row {
    margin: 0;
}

/* ------------------------------------------------Backgrounds */

.bg-color-nav,
.bg-color-footer {
    background-color: #096501;
}

/* ------------------------------------------------Logo */

.logo-text {
    height: 120px;
    padding: 41px 0 0 40px;
}

.logo-text a {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .5px;
    border: 3px solid white;
}

/* ------------------------------------------------Header */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 11px;
    border-style: solid;
    border-color: #133510;
}

/* ------------------------------------------------Nav */

#nav {
    margin: 0;
    padding-right: 20px;
    position: relative;
    float: right;
    height: 120px;
}

#nav ul {
    padding: 0;
}

#nav li {
    padding: 0;
    font-size: 15px;
}

.navitem {
    padding: 0;
    width: 100px;
    height: 120px;
}

.navitem a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.navitem a i {
    display: block;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    height: 50%;
}

.navitem span {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    height: 50%;
}

.navitem:hover {
    background-color: #fff;
}

.navitem a:hover {
    color: #096501;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: -40px;
}

.navbar-toggler {
    border: 0;
}

.navbar a {
    font-size: 20px;
    border: 0;
    float: right;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    background: rgba(0, 0, 0, .50);
    width: 150px;
    text-align: right;
}

.row {
    margin: 0;
}

/* ------------------------------------------------Footer */

footer {
    margin: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    border-top: 11px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #133510;
}

.footer-container {
    padding: 0;
}

.footer-info {
    font-size: 13px;
    color: #fff;
}

.footer-address-box {
    padding: 20px;
    height: 120px;
    text-align: center;
}

.footer-address-box p {
    margin: 5px 0 5px 5px;
    padding-bottom: 5px;
}

.footer-address-box p~p {
    font-weight: 600;
}

.footer-links-box {
    padding: 20px 30px;
    text-align: right;
}

.footer-links-box a {
    text-decoration: none;
    color: #fff;
    line-height: 24px;
}

.footer-links-box a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.footer-social-box {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
}

.footer-social-box li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30%;
    text-align: center;
    color: #fff;
    background: #133510;
    border: 1px outset transparent;
}

.footer-social-box li a i:hover {
    border: 1px solid #fff;
}

/* ------------------------------------------------Hero image */

.hero-container {
    height: 100vh;

    background: url("../images/hero-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: black;
    max-width: 100%;
    margin: 0; */
}

.section-hero-content {
    width: 100%;
    margin-top: 100px;
}

.hero-intro-text {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    max-height: 250px;
}

.hero-intro-text h1 {
    font-weight: 600;
}

.hero-mailer-form-wrapper {
    background: #096501;
    border-radius: 20px;
    padding: 30px 20px;
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #133510;
    min-height: 300px;
    max-width: 350px;
}

.hero-mailer-form {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.hero-mailer-form h3 {
    padding-bottom: 10px;
}

.hero-mailer-form input {
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80%;
}

.hero-mailer-form .btn {
    margin: 10px 0;
}

.hero-mailer-form .btn-secondary {
    background-color: #133510;
    border: 2px outset transparent;
}

.hero-mailer-form .btn-secondary:hover {
    border: 2px solid #fff;
}

/* ------------------------------------------------Intro */

.intro-container {
    height: 240px;
    border-top: 2px solid #133510;
    background: url("../images/plant-background.jpg") no-repeat center center local;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text-wrapper {
    text-align: center;
    font-size: 0.8rem;
}

.info-text-wrapper h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

/* ------------------------------------------------Media Queries */

@media(min-width: 992px) {

    .navitem {
        width: 140px;
    }
}

@media(min-width: 768px) {

    .footer-social-box {
        text-align: right;
        padding: 40px 30px 0 0;
    }

    .footer-links-box {
        text-align: left;
    }

    .footer-address-box {
        padding: 20px 0px 8px 20px;
    }

    .info-text-wrapper {
        font-size: 1rem;
        max-width: 1100px;
    }

}

@media(min-width: 576px) {

    .footer-address-box {
        text-align: left;
    }

    .info-text-wrapper {
        font-size: 0.9rem;
    }

    .info-text-wrapper h3{
        font-size: 1.75rem;
    }

}