@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/* ------------------------------------------------Misc */

body {
    font-family: "Titillium", sans-serif;
}

.range-right {
    text-align: right;
}

.range-left {
    text-align: left;
}

.range-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.section-container {
    padding: 35px;
}

/* ------------------------------------------------Backgrounds */

.bg-color-green {
    background-color: #096501;
}

.bg-color-dgreen {
    background-color: rgba(1, 104, 15, 0.1);
}

.bg-color-white {
    background-color: #fff;
}
/* ------------------------------------------------Headings */

.h1-heading {
    font-weight: 600;
}

.h2-heading {
    font-size: 1.75rem;
    font-weight: 700;
}

.h3-heading {
    padding: 10px 0;
    font-weight: bold;
}

.h4-heading {
    padding: 10px 0;
}

/* ------------------------------------------------Logo */

.logo-text {
    height: 120px;
    padding: 41px 0 0 40px;
}

.logo-text a {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .5px;
    border: 3px solid white;
}

/* ------------------------------------------------Header */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 11px;
    border-style: solid;
    border-color: #133510;
}

/* ------------------------------------------------Nav */

#nav {
    margin: 0;
    padding-right: 20px;
    position: relative;
    float: right;
    height: 120px;
}

#nav ul {
    padding: 0;
}

#nav li {
    padding: 0;
    font-size: 15px;
}

.navitem {
    padding: 0;
    width: 100px;
    height: 120px;
}

.navitem a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.navitem a i {
    display: block;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
    height: 50%;
}

.navitem span {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    font-weight: 500;
    height: 50%;
}

.navitem:hover {
    background-color: #fff;
}

.navitem a:hover {
    color: #096501;
}

.navbar {
    padding: 20px 35px 0 0;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: -40px;
    border: 0;
}

.navbar a {
    font-size: 20px;
    border: 0;
    float: right;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    background: rgba(0, 0, 0, .75);
    width: 100%;
    text-align: center;
}

/* ------------------------------------------------Footer */

footer {
    margin: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    border-top: 11px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #133510;
}

.footer-container {
    padding: 0;
}

.footer-info {
    font-size: 13px;
    color: #fff;
}

.footer-address-box {
    padding: 20px;
    height: 120px;
    text-align: center;
}

.footer-address-box p {
    margin: 5px 0 5px 5px;
    padding-bottom: 5px;
}

.footer-address-box p~p {
    font-weight: 600;
}

.footer-links-box {
    padding: 20px 30px;
    text-align: right;
}

.footer-links-box a {
    text-decoration: none;
    color: #fff;
    line-height: 24px;
}

.footer-links-box a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.footer-social-box {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
}

.footer-social-box li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30%;
    text-align: center;
    color: #fff;
    background: #133510;
    border: 1px outset transparent;
}

.footer-social-box li a i:hover {
    border: 1px solid #fff;
}

.footer-info {
    margin: 0;
}

/* ------------------------------------------------Hero image */

.hero-container {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/hero-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-content {
    color: #fff;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.hero-title {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 30px;
    margin-top: 120px;
}

.hero-form {
    background: #096501;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #133510;
    min-height: 200px;
    margin-top: 80px;
}

.hero-form input {
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80%;
}

.hero-form .btn {
    margin: 10px 0;
}

.hero-form .btn-secondary {
    background-color: #133510;
    border: 2px outset transparent;
}

.hero-form .btn-secondary:hover {
    border: 2px solid #fff;
}

/* ------------------------------------------------Intro */

.intro-container {
    height: 240px;
    border-top: 2px solid #133510;
    background: url("../images/plant-background.jpg") no-repeat center center local;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    text-align: center;
    font-size: 0.8rem;
}

/* ------------------------------------------------Plants home */

.plantshome-container {
    font-family: "Roboto", sans-serif;
    border-top: 2px solid #133510;
    min-height: 360px;
    text-align: center;
}

.plantshome-header {
    padding: 40px 30px;
}

.plantshome-container img {
    border: 1px solid #133510;
    border-radius: 5px;
    margin: 0 auto;
}

.plantshome-container .media {
    padding-bottom: 15px;
}

.plantshome-container .media-body {
    text-align: left;
    padding-left: 20px;
}

.plantshome-buttons {
    text-align: center;
    padding: 0 15px 20px 10px;
}

.plantshome-buttons .btn-secondary {
    background: #fff;
    color: #133510;
    border: 1px solid #133510;
}

.plantshome-buttons .btn-secondary:hover {
    background: #133510;
    color: #fff;
}


/* ------------------------------------------------Plants intro */

.plants-intro-container {
    margin-top: 150px;
    min-height: 240px;
    padding-bottom: 0;
}

.plants-intro-container img {
    border: 1px solid #133510;
    border-radius: 5px;
    max-width: 100%;
}

.plants-intro-image-container {
    text-align: center;
    max-height: 220px;
}

.plants-intro-image-container img {
    max-height: 220px;
}

.plants-intro-text-container {
    text-align: center;
    padding-top: 30px;
}

/* ------------------------------------------------Quotes */

.quotes-container {
    border-bottom: 2px solid #133510;
}

.quotes-container p {
    font-size: 1rem;
}

.quotes-container .media {
    padding: 25px;
}

.quotes-image {
    margin: 0 auto;
}

.quotes-image img {
    border-radius: 5px;
    border: 1px solid #133510;
}

/* ------------------------------------------------Plants items */

.plants-header {
    text-align: center;
    padding: 80px 20px 50px;
}

.plants-item {
    padding: 20px;
}

.plants-item h6 {
    margin: 0;
    line-height: 30px;
}

.plants-item .media img {
    border: 1px solid #096501;
    border-radius: 5px;
    margin: 0 auto;
}

.plants-item .media-body {
    padding: 30px;
}

.progress {
    height: 25px;
    margin-bottom: 4px;
    background-color: rgba(1, 104, 15, 0.1);
}

.progress-type {
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
}

/* ------------------------------------------------Gallery */

.gallery-container {
    padding: 50px 0;
}

.gallery-header {
    padding-bottom: 30px;
}

.gallery-images {
    text-align: center;
    padding: 0 35px;
}

.gallery-images img {
    width: 95%;
    border: 1px solid #096501;
    margin-bottom: 20px;
}

/* ------------------------------------------------Story timeline */

.timeline-container {
    margin-top: 130px;
}

.timeline .period {
    border-top: 3px solid #096501;
}

.timeline .period h5,
.timeline .period i {
    color: #133510;
}

.timeline .period i {
    font-size: 21px;
    padding: 10px 0;
}

.timeline .period .period-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
    vertical-align: top;
}

.timeline .period .period-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #133510;
    top: 0;
}

.timeline .period .period-list .period-date {
    position: absolute;
    color: #096501;
    background-color: #fff;
    top: 38px;
    left: 0;
    right: 0;
    width: 90px;
    margin: 0 auto;
    border: 3px solid #096501;
    border-radius: 4px;
    padding: 2px 4px;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
}

/* ------------------------------------------------Story article */

.story-article {
    padding-bottom: 20px;
}

.story-wrapper {
    background: #fff;
    border-radius: .25rem;
    margin: 0 auto;
    padding: 50px 50px;
    font-size: 20px;
}

.story-image {
    max-height: 600px;
    max-width: 600px;
    margin: 0 auto;
}

.story-text {
    text-align: center;
    padding-top: 50px;
}

/* ------------------------------------------------Map */

.map-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 50px 20px;
    max-width: 1000px;
}

.map-wrapper {
    border: 2px solid #133510;
    border-radius: 5px;
}

.map-heading {
    padding: 40px 0;
}

.map-heading~.map-heading {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* ------------------------------------------------Opening Hours Table */

.table {
    margin: 0 auto;
    max-width: 1000px;
}

/* ------------------------------------------------Find Us Form */

.contact-form {
    padding: 50px 0;
    background: rgba(1, 104, 15, 0.1);
}

.form-wrapper {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px 70px;
    background: #fff;
    border: 1px solid #096501;
    border-radius: 10px;
}

.form-heading {
    padding-bottom: 40px;
}

.form-field {
    width: 100%;
    border: 1px solid #133510;
    border-radius: 3px;
    padding: 10px;
    margin: 8px 0;
}

.contact-form input[type=text] {
    width: 49.7%;
}

.contact-form select {
    width: 49.7%;
    border: 1px solid #133510;
    border-radius: 3px;
    padding: 10px;
    margin: 8px 0;
}

.contact-form label {
    width: 49.7%;
    font-size: 20px;
}

.contact-form input[type=submit] {
    color: #133510;
    background: #fff;
    border: 1px solid #133510;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    float: right;
}

.contact-form input[type=submit]:hover {
    color: #fff;
    background: #096501;
    border: 1px solid #133510;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    float: right;
}

/* ------------------------------------------------Modal */

.modal-dialog {
    background: #096501;
    border-radius: 20px;
    padding: 30px 20px;
    ;
    text-align: center;
    border: 2px solid #133510;
}

.modal-body h4 {
    padding-bottom: 20px;
}

.modal-content {
    font-family: "Roboto", sans-serif;
}

.modal-content input {
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80%;
}

.modal-content .btn {
    margin: 10px 5px;
}

.modal-content .btn-secondary {
    color: #133510;
    background: #fff;
    border: 1px solid #133510;
}

.modal-content .btn-secondary:hover {
    color: #fff;
    background: #096501;
    border: 1px solid #133510;
}

/* ------------------------------------------------Media Queries */

@media(min-width: 1400px) {

    .story-item {
        padding: 90px 90px;
    }

    .story-text {
        font-size: 1.1em;
    }
}

@media(min-width: 992px) {

    .navitem {
        width: 140px;
    }

    .plants-intro-text-container {
        padding: 10px 20px 0;
    }

    .gallery-images {
        padding: 8px 35px;
    }

    .gallery-container img {
        margin: 0;
    }

    .timeline .period .period-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }

    .timeline .period .period-list .period-date {
        top: -17px;
    }

    .story-text {
        text-align: left;
        padding-top: 0;
    }

    .story-text-middle {
        text-align: right;
    }

}

@media(min-width: 768px) {

    .footer-social-box {
        text-align: right;
        padding: 40px 30px 0 0;
    }

    .footer-links-box {
        text-align: left;
    }

    .footer-address-box {
        padding: 20px 0px 8px 20px;
    }

    .intro-text {
        font-size: 1rem;
        max-width: 1100px;
    }

}

@media(min-width: 576px) {

    .footer-address-box {
        text-align: left;
    }

    .intro-text {
        font-size: 0.9rem;
    }

    .intro-text h3 {
        font-size: 1.75rem;
    }

    .plantshome-buttons {
        text-align: right;
    }

    .quotes-image img {
        margin-right: 40px;
    }

    .plants-item .media img {
        margin: 0;
    }

    .plants-item .media-body {
        padding: 5px 20px 30px;
    }

}